
<div class="card">
	<div class="card-content" ng-show="authenticated">
		
		<div class="card-title"><h4>Yoooo!</h4></div>
		<p>You have successfully logged in</p>

	</div>
	<div class="card-content" ng-show="!authenticated">
		
		<div class="card-title"><h4>Spring Boot Demo with Angular using Asset Pipeline</h4></div>
		<p>Hi Guys! Let's get started with this Single Page Application with Spring Security.
			Click on Login to get started.</p>
		<p>Please star the repo on Github if you like this project!</p>	

	</div>
</div>