<!doctype html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Spring Boot - Angular Routing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<asset:stylesheet href="materialize/css/materialize.min.css" />
<link rel="stylesheet"
	href="/assets/materialize/css/materialize.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
.bullet-list li{
	    list-style-type: disc;
}
</style>
<script type="text/javascript">
	window.contextPath = "${request.contextPath}";
</script>
</head>
<body ng-app="home">

	<!-- <ul class="nav navbar-nav navbar-collapse">
				    <li ng-repeat="item in menu"><a href="#{{item.route}}">{{item.title}}</a> 
				    </li>
				</ul> -->
	<nav>
		<div class="container">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Spring Boot</a>

				<ul class="right hide-on-med-and-down">
					<li><a class="dropdown-button" href="#!"
						data-activates="dropdown2">Task<i class="material-icons right">arrow_drop_down</i></a>
						<ul id="dropdown2" class="dropdown-content">
							<li><a href="#task/create">Create</a></li>
							<li><a href="#task">List</a></li>
							<li class="divider"></li>							
							<li><a href="#/">Home</a></li>
						</ul>
					</li>					
					<li><a class="dropdown-button" href="#!"
						data-activates="dropdown1">User<i class="material-icons right">arrow_drop_down</i></a>
						<ul id="dropdown1" class="dropdown-content">
							<li><a href="#user/create">Create</a></li>
							<li><a href="#user">List</a></li>
							<li class="divider"></li>							
							<li><a href="#/">Home</a></li>
						</ul>
					</li>					
					<li ng-if="!item.subItems">						
						<a class="dropdown-button" href="#logout">Logout</a>						
					</li>
				</ul>				
			</div>
		</div>
	</nav>
	<div class="container">
		<div ui-view></div>
	</div>
	<div class="footer" role="contentinfo"></div>

	<script type="application/javascript" src="/assets/jquery/jquery.js"></script>
	<script type="application/javascript" src="/assets/bootdemo/home.js"></script>
	<script type="application/javascript"
		src="/assets/materialize/js/materialize.min.js"></script>

	<script>
		$(function() {
			$(".dropdown-button").dropdown();
		})
	</script>
</body>
</html>



